{{#partial "content"}}

    <h1>Squad list!</h1>
    {{#if squads}}
        <p>Current Squads:</p>
        {{#each squads }}
            <p>{{ name }} <a href="/squads/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No squad to show!</p>
    {{/if}}

    <div>
        <p><a href="/squads/new">Create new squad</a></p>
    </div>



{{/partial}}

{{> layout.hbs}}